<!-- <p>studentdetails works!</p> -->

<h1 mat-dailog-title>Student Details</h1>

<div mat-dailog-content>
<h2>Enter Name:  {{student.name}}</h2>
<h2>Enter Email: {{student.email}}</h2>
<h2>Enter Mobile: {{student.mobile}}</h2>
<h2>Enter Batch: {{student.batch}}</h2>
<h2>Enter Gender: {{student.gender}}</h2>
<h2>Enter City: {{student.address.city}}</h2>
<h2>Enter Mandal: {{student.address.mandal}}</h2>
<h2>Enter District: {{student.address.district}}</h2>
<h2>Enter Pincode: {{student.address.pincode}}</h2>
<h2>Enter State: {{student.address.state}}</h2>
<h2>Enter Company Name: {{student.company.name}}</h2>
<h2>Enter Location: {{student.company.location}}</h2>
<h2>Enter Package{{student.company.package}}</h2>
<h2>Enter OfferDate:{{student.company.offerDate}}</h2>
<h2>{{student.education.qualification}}</h2>
<h2>{{student.year}}</h2>
<h2>{{student.percentage}}</h2>
</div>





